<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SOON BE!</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/tokar.css') }}">
  </head>
  <body>
    <h1> ERROR: soon! </h1>
    <p> В дальнейшем добавиться калькуляторы:</p>
    <form method="POST" action="{{url_for('calc2')}}">

    </form>
    <ol>
      <li><p>Калькулятор сверловщика</p></li>
      <li><p>Калькулятор фрезеровщика</p></li>
      <li><p>бщее время на наладку оборудования и обработку детали</p></li>
      <li><p>Калькулятор резьбонарезчика</p></li>
      <li><p>Калькулятор сварщика</p></li>
      <li><p>Калькулятор резчика на лентопильных станках</p></li>
      <li><p>Калькулятор резки плазмой</p></li>
      <li><p>Калькулятор покраски</p></li>
      <li><p>Калькулятор расчета каркасов</p></li>
      
    </ol>
    
  </body>
</html>